.kt_app_root-login{
    background: #0c0c0c7a;
    display: flex;
    width: 100%;
    padding-right: 30px;
}

.footer-label
{
    color:#a19d9d !important;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}

.login-div {
    background: #000000cb  !important;
}

.br-right {
    border-right: 1px solid #eff2f5 !important;
    border-radius: 0;
}
.color-green {
    color: #45ab48 !important;
}
.breadcrumb {
    padding: 0 2.25rem !important;
    background-color:transparent !important;
    justify-content:space-between;
}
.tagify.form-control
{
    padding: 10px !important;
    gap: 10px !important;
}
.menu-rounded .menu-link
{
    font-size: 14px !important;
}
.hr-blue
{
    border-bottom: 1px solid #009ef7;
    padding-bottom: 20px;
}
.sign-in-card
{
    background-color: #040202bd !important;
}

.sign-in-input
{
    color: #ccc !important;
}
.avatar-div
{
border: 1px solid #942b4b !important;
padding: 3px !important;
}
.form-check-input[type=radio]

{
    border: 1px solid #ccc;
    border-radius: 0%;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.form-check-input:checked[type=radio] {
    background: url('/assets/images/tick.png');
    background-repeat: no-repeat !important;
    background-position: center center;
    background-size: 24px 24px !important;
    border: none !important;
}
.add-button-div
{
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;

}

#questionsTable th
{
    vertical-align: middle;
    font-weight: 500;
    border-bottom: 1px solid #e4e6ef;
}
#questionsTable td
{
    vertical-align: middle;
}
.remove-btn
{
    border: none !important;
    padding: 0px !important;
}
